.rows .row {
    display: inline-block;
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.middle-row {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.middle-to-right {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) !important;
}