.folded {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: 1em;
  max-height: 5em;
}

.unfolded {
  display: inline;
}